.live {
  padding-top: 30px;
}
.layout {
}
.live_header {
  padding-bottom: 25px;
}
.live_header_title {
  text-align: center;
}
.live_slide_wrap {
  position: relative;
}
.live_slide {
  display: flex;
  gap: 20px;
}
.live_slide_item {
  display: block;
  height: 455px;
  width: 100%;
  border: 1px solid #f0f0f0;

  border-radius: 11px;
}
.live_slide_prev {
  position: absolute;

  left: 0;
  top: 50%;

  cursor: pointer;

  z-index: 999;
  width: 48px;
  height: 48px;
  border-radius: 24px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #e5e5e5;

  transform: translateX(-50%) translateY(-50%);

  box-shadow: 0 0 8px rgba(0, 0, 0, 0.13);

  display: flex;
  justify-content: center;
  align-items: center;
}

.live_slide_prev img {
  transform: rotate(180deg);
}

.live_slide_next {
  position: absolute;

  right: 0;
  top: 50%;

  cursor: pointer;

  z-index: 999;
  width: 48px;
  height: 48px;
  border-radius: 24px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #e5e5e5;

  transform: translateX(50%) translateY(-50%);

  box-shadow: 0 0 8px rgba(0, 0, 0, 0.13);

  display: flex;
  justify-content: center;
  align-items: center;
}
.live_footer {
  position: relative;
  padding: 20px;
  display: flex;
  justify-content: center;
}
.live_more_bt {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 56px;
  border: 1px solid #e5e5e5;
  border-radius: 28px;
  padding: 0 40px;

  font-size: 16px;
  font-weight: 700;
  color: #333;

  gap: 7px;
}
