.live {
  padding-top: 30px;
}
.layout {
}
.live_header {
  padding-bottom: 25px;
}
.live_header_title {
  text-align: center;
}
.live_slide_wrap {
  position: relative;
}
.live_slide {
  display: flex;
  gap: 20px;
}
.live_slide_item {
  display: block;
  border: 1px solid #f0f0f0;
  position: relative;
  width: 100%;
  /* height: 455px; */
  max-height: 450px;
  height: 35.156vw;

  border-radius: 11px;
}
.live_image {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 11px;
}
.live_image img {
  width: 100%;
  height: 100%;
}
.live_image::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      0deg,
      rgba(34, 34, 34, 0.5),
      rgba(34, 34, 34, 0.5)
    ),
    linear-gradient(180deg, rgba(0, 0, 0, 0.4) 18.65%, transparent 39.78%),
    linear-gradient(180deg, transparent 56.75%, rgba(0, 0, 0, 0.4) 87.59%);
  background-color: rgba(0, 0, 0, 0.4);
  content: "";
}
.live_info {
  padding: 25px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.live_state {
  display: flex;
}
.live_wait {
  display: flex;
  align-items: center;
  padding: 0 15px;

  height: 32px;
  background-color: rgba(0, 0, 0, 0.5);

  font-size: 13px;
  font-weight: 700;
  color: #ffffff;
  border-radius: 16px;
}
.live_item_title {
  display: -webkit-box;
  padding: 5px 0;

  overflow: hidden;
  font-size: 20px;
  font-weight: 700;

  line-height: 1.6;
  color: #ffffff;
  word-break: break-all;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.live_day {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.live_day_date {
  font-size: 28px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;

  /* 줄 내리는거 없애기. */
  white-space: nowrap;
}
.live_day_time {
  font-size: 50px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
}
.live_detail {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 25px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  color: #ffffff;
}
.live_detail_image {
  overflow: hidden;
  width: 65px;
  height: 65px;
  border-radius: 2px;
}
.live_detail_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.live_detail_title {
  flex: 1;
  padding-top: 15px;
  height: 65px;
  font-size: 15px;
  color: #ffffff;
}
.live_slide_prev {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #e5e5e5;

  box-shadow: 0 0 8px rgba(0, 0, 0, 0.13);
  position: absolute;
  top: 50%;

  left: 0;

  z-index: 999;
  width: 48px;
  height: 48px;
  background-color: rgba(255, 255, 255, 0.5);

  cursor: pointer;
  border-radius: 24px;

  transform: translateX(-50%) translateY(-50%);
}

.live_slide_prev img {
  transform: rotate(180deg);
}

.live_slide_next {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #e5e5e5;

  box-shadow: 0 0 8px rgba(0, 0, 0, 0.13);
  position: absolute;
  top: 50%;

  right: 0;

  z-index: 999;
  width: 48px;
  height: 48px;
  background-color: rgba(255, 255, 255, 0.5);

  cursor: pointer;
  border-radius: 24px;

  transform: translateX(50%) translateY(-50%);
}
.live_footer {
  display: flex;
  justify-content: center;
  padding: 20px;
  position: relative;
}
.live_more_bt {
  display: flex;

  gap: 7px;
  align-items: center;
  justify-content: center;
  padding: 0 40px;
  border: 1px solid #e5e5e5;

  height: 56px;

  font-size: 16px;
  font-weight: 700;
  color: #333;
  border-radius: 28px;
}

@media all and (max-width: 1280px) {
}
@media all and (max-width: 1080px) {
}
@media all and (max-width: 1024px) {
}
@media all and (max-width: 960px) {
}
@media all and (max-width: 760px) {
}
