@import "val";
@import "mixins";

.wrap {
  position: relative;
  //mixin 사용
  @include flex-center;
  width: 960px;
}
.wrap .header {
  width: 960px;
}
.wrap .header .inner {
  width: 760px;
}
.wrap .main {
  width: 960px;
}
.wrap .footer {
  width: 960px;
}
