$width-screen: 960px;
$pc-w: 760px;

.wrap {
    position: relative;
    width: $width-screen;
    .header {
        width: $width-screen;
        .inner {
            @include border-fn(red);
            width: $pc-w;
        }
    }
    .main {
        @include border-fn(#ffffff);
        // 변수 사용하기
        width: $width-screen;
    }
    .footer {
        // 변수 사용하기
        width: $width-screen;
    }
}

